In [2]:
import json
import pandas as pd
import numpy as np

In [3]:
c_df = pd.read_csv('../val.csv',index_col=False)

len(c_df)
c_df = c_df.drop(c_df.columns[0],axis=1)
c_df[0:5]

,pths,caps,urls,counts
0,./data/VAL/VAL0.jpg,We review the ten best gaming headsets in the ...,http://www.wirerealm.com/wp-content/uploads/20...,10
1,./data/VAL/VAL1.jpg,background photo of three light bulbs,https://wmich.edu/sites/default/files/styles/7...,3
2,./data/VAL/VAL2.jpg,City prints: Set of three big prints - $150.00...,http://img0.etsystatic.com/000/0/5304297/il_fu...,3
3,./data/VAL/VAL3.jpg,Set of eight arrows in all directions vector,https://cdn.vectorstock.com/i/thumb-large/74/3...,8
4,./data/VAL/VAL4.jpg,"vintage silver plate tablespoons, serving spoo...",https://laurelleaffarm.com/item-photos/vintage...,6

In [4]:
# c_df.cast = c_df.cast.apply(json.loads)
c_df.to_json('../val.json', orient='records', lines=True)