In [1]:
import json
import pandas as pd
import numpy as np

In [30]:
c_df = pd.read_csv('counting.csv',index_col=False)

len(c_df)
c_df = c_df.drop(c_df.columns[0],axis=1)
c_df[0:5]

,pths,caps,urls,counts
0,./data/counting_imgs/C0.jpg,Beer Bottle Mock-Up - Three Bottles. Blank Label,https://as1.ftcdn.net/jpg/01/26/28/66/220_F_12...,3
1,./data/counting_imgs/C1.jpg,Two People Relating without a Higher Purpose C...,http://images.slideplayer.com/14/4200833/slide...,2
2,./data/counting_imgs/C2.jpg,Two bull moose in forest Stock Photography,https://thumbs.dreamstime.com/t/two-bull-moose...,2
3,./data/counting_imgs/C3.jpg,picture of flipper - Rear view of two beautif...,https://static6.bigstockphoto.com/thumbs/7/5/4...,2
4,./data/counting_imgs/C4.jpg,Quadro Nude portrait of two sensual young girls,https://t2.ftcdn.net/jpg/00/13/08/65/110_F_130...,2

In [35]:
# c_df.cast = c_df.cast.apply(json.loads)
c_df.to_json('counting.json', orient='records', lines=True)